@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;

  margin: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.navigation-site-wraper {

  display: flex;
  width: 600px;
}

.navigation-site-wraper img {
  margin-bottom: -7px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link,
.user-navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  padding: 20px 16px;
  color: #000;
  text-decoration: none;
}

.user-actions-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-actions-item {
  min-width: 44px;
  min-height: 64px;
}

.user-button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  border-radius: 4px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.quantity-likes {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #fff;

  padding: 5px 5px 4px;
  background-color: #7DB54F;
  border-radius: 50%;
}

/* main */
/* section hero */
.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/index_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 79% 94%, 79% 89%, 50% 100%, 21% 89%, 21% 94%, 0 88%, 0 0);
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

/* sections advantages */

.advantages-description-wraper {
  width: 651px;
  margin: 69px auto;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

/* advantages second */

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-background {
  color: #fff;
  background-color: #82B3D3;

  display: flex;
  width: 1200px;
}

.advantages-wraper {
  margin: 103px 85px;

}

.advantages-background .advantages-description {
  color: #fff;
}

.advantages-invitation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-invitation-item {
  width: 400px;
}

.invitation-item-wraper {
  margin: 80px 85px;
}

.invitation-item-wraper .advantages-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.background-modified {
  background-color: #83B3D333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  color: #333;
}

/* section search hotel */

.search-hotel-wraper {
  width: 592px;
  margin: 96px auto;
}

.search-hotel-wraper .section-description {
  margin-bottom: 54px;
}

.search-link {
  display: block;
  width: 375px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #756157;
}

/* subscrible-section */

.subscrible {
  background-color: #82B3D3;
  color: #fff;
}

.subscrible.background {
  background-image: url(../images/Subscribe_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscrible-wraper {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscrible-wraper .section-title {
  margin-bottom: 20px;
}

.subscrible-wraper .section-description {
  margin-bottom: 54px;
}

.subscrible-form {
  display: flex;
}

.input-email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  width: 452px;
  height: 52px;
  background-color: #fff;
}

.input-email::placeholder {
  color: #000;
  opacity: 0.6;
}

.subscrible-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
}

/* footer */

.footer-wraper {
  width: 1060px;
  margin: 40px auto 30px;

  display: flex;
  justify-content: space-between;
}

.social-list {
  width: 142px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;

  width: 331px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:#000;
  text-decoration: none;
}

.footer-logo-link {
  width: 115px;
  margin: auto 0;
}

.footer-logo-link img {
  display: block;
}

/* catalog */

/* main */

/* filter */
.catalog-filter {
  background-color: #82B3D3;
  background-image: url(../images/filter_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  font-size: 16px;
}

.catalog-form-filter {
  width: 1060px;
  margin: 0 auto;

  display: flex;
}

.form-group {
  width: 151px;
  border: none;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.form-column-margin {
  margin-right: 70px;
}

.form-group-price {
  width: 288px;
  border: none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.form-actions-button {
  width: 191px;
}

.form-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.form-infrastructure-list {
  margin: 0;
  padding: 0;
}

.form-bilding-list {
  margin: 0;
  padding: 0;
}

.label-text {
  line-height: 23px;
}

.filter-button-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: #82B3D3;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.filter-button-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

/* catalog-cards */

/* catalog cards filter */

.filter-sorting {
  font-family: "PT Sans", sans-serif;
  color: #333;
  background-color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-cards {
  display: flex;
  flex-direction: column;
}

.catalog-cards-filter {
  width: 1060px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* cards */

.cards-title-link {
  font-size: 24px;
  line-height: 28px;

  color: #000;
  text-decoration: none;
}

.read-more {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 27px;
  border-radius: 4px;
}

.favourites {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: #82B3D3;
  padding: 8px 27px;
  border-radius: 4px;
}

.favourites.current {
  background-color: #7DB54F;
}

.rating-ball {
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-transform: uppercase;
}

/* pagination */

.pagination {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.pagination-link {
  color: #fff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link.current {
  color: #000;
  background-color: #Ffffff;
}

.pagination-link.dotted {
  color: #000;
  background-color: #fff;
}

/* subscrible catalog */

.subscrible-catalog {
  color: #000;
  background-color: #fff;
}
