@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;

  margin: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.navigation-site-wraper {
  display: flex;
  width: 600px;
  gap: 28px;
}

.navigation-site-wraper img {
  margin-bottom: -6px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  padding: 20px 16px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.user-navigation-link {
  display:block;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

/* .user-actions-item:nth-child(1) .user-navigation-link {
  display: block;
  padding: 22px 12px;
  background-image: url(../images/serch.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
}

.user-actions-item:nth-child(2) .user-navigation-link {
  display: block;
  padding: 22px 12px;
  background-image: url(../images/likes.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
} */

.user-navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link.current::before {
  position: absolute;
  content: "";
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.user-actions-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-actions-item {
  min-width: 44px;
  min-height: 64px;
}

.user-button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  border-radius: 4px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

/* .quantity-likes {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #fff;

  padding: 5px 5px 4px;
  background-color: #7DB54F;
  border-radius: 50%;
} */

/* main */
/* section hero */
.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/index_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 79% 94%, 79% 88.5%, 50% 100%, 21% 88.5%, 21% 94%, 0 88%, 0 0);
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

/* sections advantages */

.advantages-description-wraper {
  width: 651px;
  padding: 69px 0;
  margin: 0 auto 21px;
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

/* advantages second */

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-background {
  color: #fff;
  background-color: #82B3D3;

  display: flex;
  width: 1200px;
}

.advantages-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 102px 85px;
  min-width: 230px;
  min-height: 181px;

}

.advantages-background .advantages-description {
  color: #fff;
}

.advantages-background img {
  margin: auto;
}

.rewerse img{
  order: -1;
}

.advantages-invitation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-invitation-item {
  width: 400px;
}

.invitation-item-wraper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 230px;
  min-height: 223px;
  padding: 81px 85px;
  position: relative;
}

.advantages-invitation-item:nth-child(1) .invitation-item-wraper::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 162px;
  background-image: url(../images/advantage_icon1.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}
.advantages-invitation-item:nth-child(2) .invitation-item-wraper::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 162px;
  background-image: url(../images/advantage_icon2.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}
.advantages-invitation-item:nth-child(3) .invitation-item-wraper::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 162px;
  background-image: url(../images/advantage_icon3.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
}

.invitation-item-wraper .advantages-title {
  margin-bottom: 30px;
}

.invitation-item-wraper .advantages-description {
  margin-top: 0;
}
.background-modified {
  background-color: #83B3D333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  width: 175px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.advantages-list .advantages-title::before {
  position: absolute;
  content: "";
  top: 86px;
  right: 57px;
  bottom: 0;
  left: 57px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
}

.advantages-background .advantages-title::before {
  position: absolute;
  content: "";
  top: 86px;
  right: 57px;
  bottom: 0;
  left: 57px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
  text-align: center;
  color: #333;
}

.second-title-wraper {
  width: 651px;
  padding: 64px 0;
  margin: 0 auto;
}

.second-title-wraper .section-title {
  margin-bottom: 20px;
  width: 505px;
}


/* section search hotel */

.search-hotel-wraper {
  width: 592px;
  margin: 96px auto;
  text-align: center;
}

.search-hotel-wraper .section-title {
  margin-bottom: 20px;
}

.search-hotel-wraper .section-description {
  margin-bottom: 54px;
}

.search-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  background-color: #756157;
}

/* subscrible-section */

.subscrible {
  background-color: #82B3D3;
  color: #fff;
}

.subscrible.background {
  background-image: url(../images/subscribe_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscrible-wraper {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscrible-wraper .section-title {
  margin-bottom: 20px;
}

.subscrible-wraper .section-description {
  margin-bottom: 54px;
}

.subscrible-form {
  display: flex;
}

.input-email {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 452px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
}

.input-email::placeholder {
  color: #000;
  opacity: 0.6;
}

.subscrible-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
  display: inline-block;
}

/* footer */

.footer-wraper {
  width: 1060px;
  margin: 40px auto 30px;

  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 142px;
  max-width: 160px;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

.social-item {
  min-width: 47px;
  min-height: 40px;
}

.social-item a {
  display: block;
  position: relative;
  padding: 20px 11px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;

  width: 331px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:#000;
  text-decoration: none;
}

.footer-logo-link {
  display: block;
  position: relative;
  width: 115px;
  margin: 8px 0;
}

.academy-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;

}

/* hover buttons */

.user-button:hover,
.search-link:hover {
  background-color: #615048;
}

.user-button:focus,
.search-link:focus {
  background-color: #615048;
}

.user-button:active,
.search-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscrible-button:hover {
  background-color: #68A2CA;
}

.subscrible-button:focus {
  background-color: #68A2CA;
}

.subscrible-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscrible-button:disabled:hover {
  background-color: #E5E5E5;
}

.footer-social-link:hover .social-icon{
  fill: #68A2CA;
}

.footer-social-link:focus .social-icon{
  fill: #68A2CA;
}

.footer-social-link:active .social-icon{
  fill: rgba(104, 162, 202, 0.3);
}

.phone-link:hover {
  color: #756157;
}

.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color:  rgba(117, 97, 87, 0.3);
}

.footer-logo-link:hover .academy-logo{
  fill: #756157;
}

.footer-logo-link:focus .academy-logo {
  fill: #756157;
}

.footer-logo-link:active .academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

/* catalog */

/* main */

/* filter */

.logo-link {
  margin-bottom: -7px;
}

.catalog-filter {
  background-color: #82B3D3;
  background-image: url(../images/filter_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 35px 70px 70px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  gap: 10px;
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs-link-home{
  display: block;
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 13px;
  height: 15px;
}

.breadcrumbs-icon-home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.breadcrumbs-arrow {
  width: 7px;
  height: 10px;
  margin: 5px auto;
  background-image: url(../images/bread_crumbs_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-form-filter {
  width: 1060px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.form-group {
  min-width: 151px;
  border: none;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.form-column-margin {
  margin-right: 70px;
}

.form-group-price {
  width: 288px;
  border: none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.form-actions-button {
  width: 191px;
}

.form-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 32px;
}

.form-infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-infrastructure-item:not(:last-child),
.form-bilding-item:not(:last-child) {
  margin-bottom: 16px;
}

.form-bilding-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.label-text {
  line-height: 23px;
}

input[type=checkbox] {
  margin-right: 16px;
}

input[type=radio] {
  margin-right: 16px;
}

.price-input-wraper {
  display: flex;
  margin-bottom: 33px;
  position: relative;
}

.price-input-min,
.price-input-max {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  height: 48px;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 0 12px 20px;
  border: none;
  position: relative;
}

.price-input-min {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.price-input-max {
  border-radius: 0 4px 4px 0;
}

.label-number-min {
  position: absolute;
  top: 12px;
  left: 106px;
  z-index: 1;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.label-number-max {
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 1;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

input[type=range] {
  width: 287px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="range" i] {
  margin: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  margin: 0;
  background-color: #fff;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  margin-top: -7px;
}

/* input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;

  cursor: pointer;
}

input[type=range]::-moz-range-track {
  height: 4px;
  margin: 0;
  background-color: #fff;
} */


.filter-button-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: #82B3D3;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  margin-top: 56px;
  margin-bottom: 32px;
  padding: 8px 50px;
}

.filter-button-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 8px 58px;
}

/* catalog-cards */

/* catalog cards filter */


.catalog-cards {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.catalog-cards-filter {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.cards-filter-wraper {
  display: flex;
}

.button-view-list {
  display: flex;
  list-style-type: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.view-item-link {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-plate {
  background-image: url(../images/sorting_plate.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-slideshow {
  background-image: url(../images/sorting_slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-list{
  background-image: url(../images/sorting_list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 6px 0;
}

.filter-sorting {
  font-family: "PT Sans", sans-serif;
  color: #333;
  background-color: #fff;
  border-color: #E5E5E5;
  border-radius: 4px;
  border-width: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding: 12px 15px;
  margin-right: 70px;
}
/* cards */

/* .cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
} */
/* На флексах */
/* на гридах */
.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}
/* на флексах */
/* .cards-item {
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 0 2px rgba(230, 230, 230, 1);
  border-radius: 4px;
} */

/* на гридах карточки */
.cards-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  box-shadow: 0 0 2px rgba(230, 230, 230, 1);
}


.cards-photo {
  display: block;
}

.cards-photo-link {
  grid-column: 1/-1;
}

.cards-title {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.cards-title-link {
  grid-column: 1/-1;
  font-size: 24px;
  line-height: 28px;

  color: #000;
  text-decoration: none;
}

.hotel {
  grid-column: 1/2;
}

.from {
  grid-column: 2/3;
  justify-self: end;
}

.read-more {
  grid-column: 1/2;
}

.favourites {
  grid-column: 2/3;
}

.stars {
  grid-column: 1/2;
}

.rating-ball {
  grid-column: 2/3;
  justify-self: end;
}


.read-more {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
  min-width: 140px;
  min-height: 36px;
}

.favourites {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: #82B3D3;
  padding: 8px 20px;
  border-radius: 4px;
}

.favourites.current {
  background-color: #7DB54F;
  padding: 8px 18px;
}


.rating-ball {
  font-size: 16px;
  line-height: 20px;
  color: #333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  margin: 0;
}

.stars {
  margin: 0;
  padding: 0;
}

.stars::before {
  content: "";
  display: block;
  height: 17px;
  margin: 10px 0;
  background-image: url(../images/ball-stars.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.quantity-stars_4 {
  width: 78px;
}

.quantity-stars_3 {
  width: 65px;
}

.quantity-stars_2  {
  width: 43px;
}

/* pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  list-style-type:  none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}

.pagination-link {
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link.current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-link.dotted {
  color: #000;
  background-color: #fff;
}

/* subscrible catalog */

.subscrible-catalog {
  color: #000;
  background-color: #fff;
}
